

<%= link_to "Home", articles_path %>
<h2><%= @article.title %></h2>
<%= link_to "edit", edit_article_path %>
<%= link_to "Delete", article_path,
      method: :delete,
      data: { confirm: "Are you sure?" } %>

<%= raw Kramdown::Document.new(@article.content).to_html %>

<p>Created on: <%= @article.created_at %></p>
<p>Last modified on: <%= @article.updated_at %></p>
